/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 0; /* Remove padding to make full width */
  margin-top: 0px; /* Adjust this value to match the height of your header */
  padding-bottom: 2rem; /* Add bottom padding to enable scrolling past the last element */
}

.chat-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 1rem;
  padding-bottom: 6rem; /* Space for input box */
  margin-top: 64px; /* Ensure content starts below the header */
}

.chat-input-container {
  position: fixed;
  bottom: 0;
  left: 0; /* Ensure it starts from the left edge */
  width: 100%;
  padding: 1rem;
  z-index: 10; /* Ensure it stays on top of other elements */
  margin: 0; /* Remove any margins */
}

.question-card {
  margin-bottom: 0rem; /* Add space between the QuestionCard and input */
}

.textarea {
  flex-grow: 1;
  resize: none;
  min-height: 100px;
  width: calc(100% - 72px); 
}


.chat {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 6rem; /* Space for input box */
  position: relative; /* Ensure it sits below the fixed input container */
}
