.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 0; /* Remove padding to make full width */
}

.chat-layout {
  display: flex;
  flex-direction: column; /* Changed from row to column */
  height: 100%; /* Full height */
  width: 100%; /* Full width */
}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
  width: 100%; /* Full width */
  overflow-y: auto; /* Enable scrolling if needed */
  padding: 0; /* Remove padding to make full width */
}

.menu-button {
  /* Add your styles here */
}

@media (min-width: 768px) {
  .App {
    flex-direction: column; /* Changed from row to column for larger devices */
  }
}

/* Center the chat header content */
.chat-header {
  /* determines the space around the chat-header so around the title*/
  flex-grow: .5;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center in the available space */
  align-items: center; /* Horizontally center */
  margin-bottom: 0; /* Remove bottom margin if any */
  /* height: 20px; */
}

/* chat input box where i type the input */
.chat {
  font-family: 'Arial', sans-serif;
  height: calc(100vh - 100px); /* Adjust if you have headers or footers */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  margin-left: auto; /* Add margin to the left */
  margin-right: auto; /* Add margin to the right */
  max-width: 600px; /* Or whatever maximum width you prefer */
  width: 100%; /* It will take the full width up to max-width */
  box-sizing: border-box; /* Include padding and border in the element's width */
}

.chat-dropdown-container {
  /* Styles for the dropdown container */
  padding: 0.5rem; /* Example padding */
  border: 1px solid #D0D0D0; /* Example border */
  margin-bottom: 1rem; /* Space before the chat input area */
  margin-top: 0; /* Remove top margin if any */
  width: 100%; /* Full width */
  box-sizing: border-box;
}

/* This is where I actually type in the question */
.chat-input-container {
  width: 100%; /* Full width */
  display: flex;
  justify-content: center; /* Center the input form */
  /* Space to the next Element so that would be the Question card */
  padding-bottom: .2rem; /* Space from the bottom */
}

/* Target table rows */
.sources-output table tbody tr {
  background-color: transparent; 
  color: inherit; 
}

/* Target text in the "Chat Leeren" button */
.chat button {
  color: inherit; 
}