.sources-output {
  display: flex;
  gap: 1rem;
  justify-content: flex-start; /* Align items to the left */
  flex-wrap: wrap;
  width: calc(100% - 3rem);
  margin-bottom: 1rem; /* Adjust this value to change the margin */
  margin-top: 2rem; /* Example to add a top margin */
  margin-left: 1.5rem; /* Example to add a left margin */
  margin-right: 1.5rem; /* Example to add a right margin */
}

.sources-card {
  width: 100%; /* Set the width to 80% */
  max-width: 100%; /* Ensure the max-width is also 80% */
  border-radius: 16px;
  box-shadow: 3;
  background-color: var(--joy-palette-primary-box);
  margin-right: 0; /* Ensure there's no margin on the right */
}

.sources-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sources-content {
  text-align: justify;
}

.source-skeleton {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.content-section {
  margin-top: 0.5rem;
}

.table-cell {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}