.sources-output {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%; /* Full width */
}

.sources-card {
  max-width: 100%; /* Full width */
  width: 100%; /* Full width */
  border-radius: 16px;
  box-shadow: 3;
  background-color: var(--joy-palette-primary-box); /* Ensure this matches your theme */
}

.sources-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sources-content {
  text-align: justify;
}

.source-skeleton {
  margin-bottom: 1rem;
}

.content-section {
  margin-top: 0.5rem;
}

.table-cell {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}